

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.ActionLink("View all students","Show","Student");<br/>
        @Html.ActionLink("Create a new student","Create","Student");<br/>
    </div>
</body>
</html>
