

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1> Weclome to My School </h1>
        @Html.ActionLink("Manage Teachers", "Index", "Teacher") <br/>
        @Html.ActionLink("Manage Students","Index","Student") <br/>
        
    </div>
</body>
</html>
