

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
    <div> 
        @Html.ActionLink("View all teachers", "Show","Teacher" )<br/>
        @Html.ActionLink("Create a new teacher","Create","Teacher")<br/>
    </div>
</body>
</html>
